@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-image: radial-gradient(#181818 10%, #101010 10%);
	background-size: 64px 64px;
	background-repeat: repeat;
}

header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	/*
	visibility: hidden;
	*/
}

h1 {
	font-family: 'Averia Serif Libre', monospace;
	color: white;
	padding: 0.2em 0.8em;
	border-radius: 8px;
	background-color: #00000080;
}

canvas {
	z-index: -1;
	border: thick solid #101010;
	border-radius: 20%;
	background-color: darkblue;
}

img {
	display: block;
	border: thick solid #101010;
	border-radius: 50%;
	filter: grayscale(30%);
}
