@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header {
	color: white;
	font-family: 'EB Garamond';
	letter-spacing: 0.8em;
	text-transform: uppercase;
}

canvas {
	z-index: -1;
	background-color: #212121;
	outline: medium solid black;
	outline-offset: 0.2em;
}
